<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoLink</title>
    <link rel="stylesheet" href="css/landingpage.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-center">
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav-end">
            <button onclick="window.location.href='/login'" class="Join">Join</button>
            
        </ul>
    </nav>
</header>
<section class="hero">
    <h1>Connect Anonymously with Your Peers Today</h1>
    <p>Experience safe and relatable conversations with people your age.Our platform ensures anonymity while allowing you to connect with others in a similar life stage</p>
    <div class="buttons">
    <button onclick="window.location.href='/login'" class="chatButton">Chat</button>
    <button onclick="window.location.href='/login'" class="LearnMoreButton">Learn More</button>,
    </div>

</section>
<section class="features">
  <h2>Experience Safe and Engaging Conversations with Our Unique Chat Platform</h2>
  <ul class="feature-list">
    <li class="feature-item">
      <img src="/images/loginimage.jpg" alt="loginimage" style="width: 200px; height: 150px;">
      <h3>Connect with Peers Your Age for Meaningful Discussions Anytime</h3>
      <p>Our Platform ensures secure login through Google for your peace of mind</p>
      <button onclick="window.location.href='/login'" class="signUp">Explore</button>
    </li>
    <li class="feature-item">
      <img src="/images/ChatImage.jpg" alt="ChatImage" style="width: 200px; height: 150px;">
      <h3>Anonymous Real-Time Chats for Genuine Connections Without the Pressure</h3>
      <p>Engage in real-time conversations with others in your age group</p>
      <button onclick="window.location.href='/login'" class="signUp">Sign Up</button>
    </li>
    <li class="feature-item">
      <img src="/images/ChatImage.jpg" alt="ChatImage" style="width: 200px; height: 150px;">
      <h3>View Past Conversations to Relive Your Favorite Moments</h3>
      <p>Easily revisit your chats while maintaining your anonymity and privacy</p>
      <button onclick="window.location.href='/login'" class="signUp">Explore</button>
    </li>
  </ul>
</section>
<footer>
        <p>&copy; 2025 EchoLink. All rights reserved.</p>
        <ul>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
</footer>

    
</body>
</html>