<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/statusError.css">
    <title>Peer Status</title>
</head>
<body>
    <header>
        <div class="icon-bar">
       <a href="/chat"><i class="fa fa-home"></i></a>
      <a href="/status"><i class="fa fa-user" style="color:white;"></i></a>
      <a href="/profile"><i class="fa fa-cog"></i></a>
      <a href="/notifications"><i class="fa fa-bell" style="color:white;"></i></a>
        </div>
    </header>
    <main>
       <h1>You are not matched with anyone</h1> 
    </main>
    
</body>
</html>